@media(max-width: 360px) {

   .main,
   .footer,
   .header__inner {
      margin-left: 15px;
   }

   .main {
      margin-top: 60px;
   }

   .form__info-login,
   .main__form-mail input,
   .main__form-password input,
   .form__info-login,
   .form__info-text,
   .checkbox__btn,
   .form__forget,
   .footer {
      width: 320px;
   }


   .main__form-password input {
      background: url(../images/password_right.svg) no-repeat 288px 10px;
   }

   .wrapper__left {
      display: none;
   }

   .wrapper {
      margin-left: 7px;
   }

}